<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.orderez" >
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Check internet is connected -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderEZ"
        tools:targetApi="30" >
        <activity
            android:name=".homepage.Homepage_Items"
            android:exported="false" />
        <activity
            android:name=".Homepage_ItemlistUp"
            android:exported="false"
            android:label="@string/title_activity_homepage_itemlist_up"
            android:theme="@style/Theme.OrderEZ.NoActionBar" />
        <activity
            android:name=".homepage.settingCategories.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".homepage.settingCategories.AccountSettings"
            android:exported="false" />
        <activity
            android:name=".homepage.settingCategories.Homepage_SettingCategories"
            android:exported="false" />
        <activity
            android:name=".homepage.Homepage_Calendar_Month"
            android:exported="true" />
        <activity
            android:name=".homepage.Homepage_Calendar_Week"
            android:exported="true" />
        <activity
            android:name=".homepage.AddnewItems"
            android:exported="true" />
        <activity
            android:name=".intro.ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".intro.RegisterPage"
            android:exported="true" />
        <activity
            android:name=".intro.LogInPage"
            android:exported="true" />
        <activity
            android:name=".intro.WelcomePage"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>